<%- include('header') %>

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Movie Details</h4>
              <form class="d-flex align-items-center">
                <label for="exampleInputUsername1">Search :</label>
                <input type="text" name="search" class="form-control" style="width: 20pc; margin-left: 10px;" placeholder="Search Here">
              </form>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>
                        No.
                      </th>
                      <th>
                        Name
                      </th>
                      <th>
                        ScreenType
                      </th>
                      <th>
                        Realase Date
                      </th>
                      <th>
                        MoviePoster
                      </th>
                      <th>
                        Action
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% var i = 1 %>
                    <% for (var d of data) { %>
                    <tr>
                      <td>
                        <%= i++ %>
                      </td>
                      <td>
                        <%= d.MovieName %>
                      </td>
                      <td>
                        <%= d.ScreenType %>
                      </td>
                      <td>
                        <%= d.Date %>
                      </td>
                      <td class="py-1">
                        <img src="<%= d.MoviePoster %>"/>
                      </td>
                      <td>
                        <a href="/Movie/DeleteData/<%= d.id %>">DeleteData</a> ||
                        <a href="/Movie/UpdateDataPage/<%= d.id %>">UpdateData</a>
                      </td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
      Noty.overrideDefaults({
        layout   : 'topRight',
        theme    : 'mint',
        closeWith: ['click', 'button'],
        animation: {
            open : 'animated fadeInRight',
            close: 'animated fadeOutRight'
        }   
      });
    </script>
<%- include('footer') %>